.nav-bg {
    background-color: blue;
}
.navbar {
    
  background-color: #ffffff; 
  border-bottom: 2px solid #f5a7b8; 
  padding: 1px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.contenido-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    color: powderblue   ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
.hero2 {
    background-image: url(/img/Fondofloreria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    position: relative;
    margin-bottom: 2rem;
    
}

.navbar a {
  color: #333333; 
  text-decoration: none; 
  font-size: 18px;
  margin: 0 10px; 
  transition: color 0.2s ease-in-out; 
}
.navbar a:hover {
  color: #f5a7b8; 
}


.navbar .logo {
  font-size: 24px; 
  font-weight: bold; 
  color: #f5a7b8; 
}
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
    margin-top: 1rem;
  }
  
  input, textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #af4cac;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff0088;
  }
  
  .productos-container {
    display: flex;
    flex-wrap: row;
    justify-content: wrap;
  }
  
  .producto {
    width: 300px;
    margin: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    background-color: #f5a7b8;
    color: #fff;
  }
  
  .producto img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
  
  .producto h3 {
    font-size: 24px;
    color: #ffffff;
  }
  
  .comprar {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .comprar:hover {
    background-color: #0062cc;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
 
  table th,
  table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  